@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500;600&display=swap');

#title {
  font-family: 'Saira', sans-serif;
}
#content {
  font-family: 'Saira', sans-serif;
}


#white {
  background: url("./../assets/svgtopng/safetymeasurepointpatch1-05.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
#green {
  background-image: url("./../assets/svgtopng/safetymeasurepointpatch2-06.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
#heading {
  background-image: url("./../assets/svgtopng/secureadventurepatch-04.png");
  background-size: cover;
  background-repeat: no-repeat;
}
