@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}
#cover {
  background-image: url("./assets/svgtopng/Getready\ patch-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}
