@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}

#armed-box {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}
#text-border {
  -webkit-text-stroke: 1px white;
}
#safety-measure {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}